body
{
    margin: 0;
    font-family: Arial, sans-serif;
}

header
{
    display: flex;
    padding: 15px 40px;
    justify-content: space-between;
    align-items: center;
    background: #222;
}

.nav-logo
{
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-logo img
{
    height: 45px;
}

.site-title
{
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links
{
    display: flex;
    gap: 35px;
}

.nav-links a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover
{
    color: #ff7b00;
}

nav a
{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover
{
    color: #ff7b00;
}

footer 
{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.index_section
{
    background: url("../images/planyourvacation.png") center/cover no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.btn
{
    background: #ff7b00;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 20px;
}

.content
{
    padding: 50px 10%;
}

.content h2
{
    text-align: center;
}

.card-grid
{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    text-align: center;
}

.card
{
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.card img
{
    height: 150px;
    width: 300px;
}

.card-grid .card:hover
{
    background-color: #e5e5e5;
    cursor: pointer;
}

.package
{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.price
{
    font-weight: bold;
}

.form-container
{
    max-width: 400px;
    margin: auto;
}

.form-group
{
    margin-bottom: 15px;
}

.form-group input, .form-group textarea
{
    width: 100%;
    padding: 10px;
}

select
{
    width: 100%;
    padding: 10px;
}